<h1>Our Products</h1>
<p>
    Here you can see some of the movies I've done</br>
    <img src="/Content/snitch.jpg" height="500px" alt="picture"></br>
    This is the movie Snitch, its a movie related to prison and drugs.</br>
    It was about my character's son Jason who got a 10 year sentence for being caught with a package that had drugs in it.</br>
    Jason could've lessened his sentence by framing someone else but he refused. This is when I went undercover and found a major player in the Mexican Drug Trade.</br>
    This movie got a 78% of people to like the film.</br>
    <img src="/Content/jumanji.jpg" height="500px" alt="picture"></br>
    This is the movie Jumanji, its a movie related to jungle.</br>
    In this movie I was able to act with a bunch of famous people such as Kevin Hart, Jack Black, Karen Gillian, Nick Jonas and many more.</br>
    It was about a group of teenagers who got sucked into a video game, and must get out. If they die in the video game they will not be able to get out ever.</br>
    This movie got a 80% of people to like the film.</br>
    <img src="/Content/sanandreas.jpg" height="500px" alt="picture"></br>
</p>